<!-- 
  Enrollment Number :- 301307330
  Name :- Khanjan Dave 
-->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label for="NameTextField">Title</label>

                <!-- manage add and edit functionality in one code using condition -->

                <% if (typeof updatedBook === 'undefined') { %>

                  <input type="text" class="form-control" id="Title"
                placeholder="Book Name" name="Title" 
                required>

                <% } else { %>
                  
                  <input type="text" class="form-control" id="Title"
                placeholder="Book Name" name="Title" 
                value="<%= updatedBook.Title%> "
                required>

                <% } %>
                 </div>

                  <div class="form group">
                  <label for="descriptionTextArea">Description</label>
                  <!-- manage add and edit functionality in one code using condition -->
                  <% if (typeof updatedBook === 'undefined') { %>
                    <textarea type="text" class="form control"
                      rows="5" cols="74"
                      id="Description"
                      placeholder = "Enter description of the book"
                      name="Description" 
                      required></textarea>

                  <% } else { %>
                    <textarea type="text" class="form control"
                    rows="5" cols="74"
                      id="Description"
                      name="Description" 
                      value=" "
                      required><%=updatedBook.Description%></textarea>
                  <% } %>
                  </div> 


              <div class="form-group">
                <label for="PriceTextField">Price</label>
                <!-- manage add and edit functionality in one code using condition -->

                <% if (typeof updatedBook === 'undefined') { %>

                  <input type="text" class="form-control" id="Price"
                  placeholder="Book Price" name="Price"   
                  required>

                <% } else { %>

                  <input type="text" class="form-control" id="Price"
                  placeholder="Book Price" name="Price"   
                  value="<%= updatedBook.Price%> "
                  required>

                <% } %>  

                
              </div>
              <div class="form-group">
                <label for="AuthorTextField">Author</label>
                <!-- manage add and edit functionality in one code using condition -->

                <% if (typeof updatedBook === 'undefined') { %>

                  <input type="text" class="form-control" id="Author"
                  placeholder="Book Author" name="Author"  
                  required>

                <% } else { %>

                  <input type="text" class="form-control" id="Author"
                placeholder="Book Author" name="Author" 
                value="<%= updatedBook.Author%> " 
                required>

                <% } %>

                
              </div>
              <div class="form-group">
                <label for="GenreTextField">Genre</label>
                <!-- manage add and edit functionality in one code using condition -->
                <% if (typeof updatedBook === 'undefined') { %>

                  <input type="text" class="form-control" id="Genre"
                  placeholder="Book Genre" name="Genre"  
                  required>

                <% } else { %>

                  <input type="text" class="form-control" id="Genre"
                  placeholder="Book Genre" name="Genre" 
                  value="<%= updatedBook.Genre%> " 
                  required>

                <% } %>

                
              </div>

              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/books" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


<!-- value="/*= updatedBook.title "  -->
<!-- value="/*= updatedBook.Price " -->
<!-- value="/*= updatedBook.Author "  -->
<!-- value="/*= updatedBook.Genre "  -->